/* elements */

p, a, h1, h2, h5, h6 {
    font-family: 'Limelight';
    color: gold;
}

h1 {
    padding: 20px;
}

h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

body {
    background-color: black;
}

iframe {
    padding: 20px, 20px, 20px, 20px;
    border-color: gold;
    border-width: 10px 10px 10px 10px;
}

/* images */

.speakimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    
}

.cocktails {
    float: left;
    padding: 10px;
    width: 100%;
    position: relative;
    text-align: center;
}

.bars {
    float: left;
    padding: 10px;
    width: 100%;
    position: relative;
    text-align: center;
}

#drinkmenu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/******************************************************************************
    Media Query to make YouTube video and Drink Menu respond to mobile devices
*******************************************************************************/

@media (max-width: 1100px) {
    iframe, #drinkmenu {
        max-height: 650px;
        max-width: 650px;
    }
}

@media (max-width: 900px) {
    iframe, #drinkmenu {
    max-height: 500px;
    max-width: 500px;
    }
}

@media (max-width: 750px) {
    iframe, #drinkmenu {
        max-height: 405px;
        max-width: 405px;
    }
}

@media (max-width: 500px) {
    iframe, #drinkmenu {
        max-height: 325px;
        max-width: 325px;
    }
}

/**********************************************************************
    Media Query to make 1920s & 2010s image respond to mobile devices
**********************************************************************/

@media (max-width: 1100px) {
    .speakimg {
        max-height: 550px;
        max-width: 550px;
    }
}

@media (max-width: 900px) {
    .speakimg {
        max-height: 400px;
        max-width: 400px;
    }
}

@media (max-width: 750px) {
    .speakimg {
        max-height: 360px;
        max-width: 360px;
    }
}

@media (max-width: 500px) {
    .speakimg {
        max-height: 285px;
        max-width: 285px;
    }
}