.prohibition {
    display: inline-block;
    width: 100%;
    padding-bottom: 2em;
}

p, a, h1, h2 {
    font-family: 'Limelight', cursive;
    color: gold;
}

body {
    background-color: black;
}

iframe {
    padding: 20px, 20px, 20px, 20px;
    border-color: gold;
    border-width: 10px 10px 10px 10px;
}

.nav-link {
    color: gold;
}

button {
    padding: 20px 20px 20px 20px;
    border-width: 10px 10px 10px 10px;
    border-color: gold;
}



/***************************************************************
    Media Query to make YouTube video respond to mobile devices
****************************************************************/

@media (max-width: 1100px) {
    iframe {
        max-height: 600px;
        max-width: 600px;
    }
}

@media (max-width: 900px) {
    max-height: 450px;
    max-width: 450px;
}


@media (max-width: 750px) {
    iframe {
        max-height: 375px;
        max-width: 375px;
    }
}

@media (max-width: 500px) {
    iframe {
        max-height: 300px;
        max-width: 300px;
    }
}